<div class="docs section-container accordion" data-section data-options="one_up: false">
  <section class="section">
    <p class="title"><a href="#">Getting Started</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="/docs">Fundamentals</a></li>
        <li><a href="installation.html">Installation</a></li>
        <li><a href="solution-layout.html">Solution Layout</a></li>
        <li><a href="hello-mvvmcross.html">Hello, MvvmCross</a></li>
        <li><a href="nplus-one-days.html">N+1 Days</a></li>
      </ul>
    </div>
  </section>
  <section class="section">
    <p class="title"><a href="#">Next Steps</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="application-start.html">Application Start</a></li>
        <li><a href="background-tasks.html">Background Tasks</a></li>

        <li><a href="databinding-fundamentals.html">Data Binding</a></li>
        <li><a href="command-binding.html">Command Binding</a></li>
        <li><a href="linker-include.html">Linker Include</a></li>

        <li><a href="modelview-view-model.html">ModelView View Model</a></li>

        <li><a href="async.html">Async</a></li>
        <li><a href="inversion-of-control.html">Inversion of Control</a></li>
        <li><a href="unit-testing.html">Unit Testing</a></li>
        <li><a href="portable-class-libaries.html">Portable Class Libaries</a></li>
        <li><a href="file-linking.html">File Linking</a></li>
      </ul>
    </div>
  </section>

  <section class="section">
    <p class="title"><a href="#">Data Binding</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="data-binding-fundamentals.html">Fundamentals</a></li>        
        <li><a href="data-binding-xamarin-android.html">Xamarin Android</a></li>
        <li><a href="data-binding-xamarin-ios.html">Xamarin iOS</a></li>
        <li><a href="data-binding-xamarin-mac.html">Xamarin Mac</a></li>
        <li><a href="data-binding-windows8-phone.html">Windows 8 Phone</a></li>
        <li><a href="data-binding-windows8-store.html">Windows 8 Store</a></li>
        <li><a href="data-binding-windows-wpf.html">Windows WPF</a></li>
      </ul>
    </div>
  </section>


  <section class="section">
    <p class="title"><a href="#">Presenters</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="presenter-accordian.html">Accordian</a></li>
        <li><a href="presenter-auto-view.html">Auto View</a></li>
        <li><a href="presenter-fragments.html">Fragments</a></li>
        <li><a href="presenter-page.html">Page</a></li>
        <li><a href="presenter-slideout-menu.html">Slideout Menu</a></li>
        <li><a href="presenter-split-view.html">Split View</a></li>
        <li><a href="presenter-tabs.html">Tabs</a></li>
      </ul>
    </div>
  </section>

  <section class="section">
    <p class="title"><a href="#">Components</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="plugin-address-book.html">Address Book</a></li>
        <li><a href="plugin-accelerometer.html">Accelerometer</a></li>
        <li><a href="plugin-colour.html">Colour</a></li>
        <li><a href="plugin-download-cache.html">Download Cache</a></li>
        <li><a href="plugin-email.html">Email</a></li>
        <li><a href="plugin-file.html">File</a></li>
        <li><a href="plugin-json.html">JSON</a></li>
        <li><a href="plugin-localisation.html">Localisation</a></li>
        <li><a href="plugin-json.html">Location</a></li>
        <li><a href="plugin-messenger.html">Messenger</a></li>
        <li><a href="plugin-network.html">Network</a></li>
        <li><a href="plugin-phone-call.html">Phone Call</a></li>
        <li><a href="plugin-picture-chooser.html">Picture Chooser</a></li>
        <li><a href="plugin-resource-loader.html">Resource Loader</a></li>
        <li><a href="plugin-share.html">Share</a></li>
        <li><a href="plugin-sound-effects.html">Sound Effects</a></li>
        <li><a href="plugin-sqlite.html">SQLite</a></li>
        <li><a href="plugin-visibility.html">Visibility</a></li>
        <li><a href="plugin-web-browser.html">Web Browser</a></li></a></li>
      </ul>
    </div>
  </section>


    <section class="section">
    <p class="title"><a href="#">Sample Applications</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="databinding-xamarin-android.html">Xamarin Android</a></li>
        <li><a href="databinding-xamarin-ios.html">Xamarin iOS</a></li>
        <li><a href="databinding-xamarin-mac.html">Xamarin Mac</a></li>
        <li><a href="databinding-windows8-phone.html">Windows 8 Phone</a></li>
        <li><a href="databinding-windows8-rt.html">Windows 8 RT</a></li>
        <li><a href="databinding-windows-wpf.html">Windows WPF</a></li>
      </ul>
    </div>
  </section>

  <section class="section">
    <p class="title"><a href="faq.html">FAQ</a></p>
  </section>

  <section class="section">
    <p class="title"><a href="support.html">Support</a></p>
  </section>
</div>

<p><a href="/download.html" class="button expand" style="margin-bottom: 0;">Download MvvmCross</a></p>
